.features {
  padding-bottom: 30px;

  &__subtitle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 30px;
      flex-wrap: nowrap;
    }
  }

  &__item {
    max-width: 450px;
    padding-bottom: 30px;
    margin: auto 0;

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
 
      // max-width: 354px;
      
    }

    @media screen and (min-width: 1200px) {
      max-height: 248px;
      flex-basis: calc((100% - 30px) / 4);
      // max-width: 270px;
      // display: flex;
      // flex-grow: 1;
    }
  }

  &__icon {
    display: flex;
  }

  &__icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--light-bgk);
    margin-bottom: 30px;
    border-radius: 4px;
  }

  &__desk {
    color: var(--secondary-color);
    line-height: 1.71;
    font-weight: 400;
  }
}
