.logo {
    font-style: Bold;
    font-size: 26px;
    font-weight: 700;
    color: var(--link-active);
    text-decoration: none;
    font-family: var(--logo-font);
    line-height: 1.19;
    display: block;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-logo {
    color: var(--logo-header);
}

.logo-footer {
    font-style: Bold;
    font-size: 26px;
    font-weight: 700;
    color: var(--link-active);
    text-decoration: none;
    font-family: var(--logo-font);
    line-height: 1.19;
    display: block;
    align-items: center;
    margin-bottom: 20px;

}

.logo-accent {
    color: var(--hero-color);
    font-family: var(--logo-font);
    line-height: calc(31 / 26);
}