:root {
    /* Fonts */

    --main-font: roboto, sans-serif;
    --logo-font: raleway, sans-serif;

    /* Text colors */

    --primary-color: #212121;
    --secondary-color: #757575;
    --hero-color: #ffffff;

    /* Background colors */

    --primary-bkgcolor: #f5f5f5;
    --secondary-bkgcolor: #2f303a;
    --body-bgk: #f5f5f5;

    /* Others */

    --button-color-hero: #2196f3;
    --button-color: #f5f4fa;
    --link-active: #2196f3;
    --light-bgk: #f5f4fa;
    --button-color-active: #188ce8;
    --logo-header: #000000;
    --contacts-footer: rgba(255, 255, 255, 0.6);
    --social-links: #AFB1B8;

    /* ANIMATION */

    --type: cubic-bezier(0.4, 0, 0.2, 1);
    --time: 250ms;
}